@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sitio en Construcción</h1>
    <p>De momento solo los mantenedores son accesibles</p>
    <img src="https://www.freepnglogos.com/uploads/under-construction-png/under-construction-warning-sign-png-clipart-best-web-clipart-35.png" />
</div>
