<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Bodegas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: rgba(75, 0, 130, 0.25);">
    <header>
        <nav class="navbar navbar-expand-lg" data-bs-theme="dark" style="background-color: #4b0082;">
            <div class="container-fluid">
                <a class="navbar-brand px-3" href="#">
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <i class="bi bi-cart4"></i>
                        </div>
                        <div class="col">
                            <div class="row">Sistema de Bodega</div>
                            <div class="row">Supermercado Minorista 9</div>
                        </div>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Solicitudes
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">En Construccion</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Aprobaciones
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">En Construccion</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Mantenedores
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Categoria")">Categorias</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Producto")">Productos</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="background-color: white; height: 90vh">
        <main role="main" class="pb-3 flex-grow-1">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer fixed-bottom text-muted" data-bs-theme="dark" style="background-color: #4b0082;">
        <div class="container">
            &copy; 2023 - Evaluacion 3 - Programación Web - Creado por Melissa Muñoz y Joaquin Rios
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
