@model Categoria

<div class="d-flex justify-content-center align-items-center py-4">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Crear Categoria</h5> 
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Save", "Categoria", FormMethod.Post))
            {
                @Html.LabelFor(l => l.Nombre, "Nombre de categoría:", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                @Html.ValidationSummary()
                <br />
                <button class="btn btn-primary" type="submit">Guardar</button>
            }
        </div>
    </div>
</div>